<form action="">
    <fieldset>
        <legend>Contato</legend>

        <label for="name">Nome</label>
        <br>
        <input id="name" type="text" name="name">
        <br>
        <br>
    
        <label for="email">email</label>
        <br>
        <input id="email" type="email" name="email">
        <br>
        <br>

        <label for="Message">Mensagem</label>
        <br>
        <textarea name="message" id="message" cols="20" rows="10"></textarea>
        <br>
        <br>
         <button>Enviar o formulário</button>
    </fieldset>

</form>